<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
  
    <p>
      Well done.  Your review has been published on www.ucladj.com!
    </p>
  
  </body>


</html>
