<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
  
    <p>
    	Your request has been recieved.  Reply 'Approve' to Authenticate the request.
    </p>
  
  </body>


</html>
