
<div class= "row">
	<div class= "col-lg-6">
		<center><a href="/concert_reviews/new"><%= image_tag("guitar1.svg") %><p>Concert Review</p></a></center>
	</div>

	<div class= "col-lg-6">
		<center><a href="/articles/new"><%= image_tag("music139.svg") %><p>Album Review</p></a></center>
	</div>
</div>