/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

body {
	font-size: 15px !important;
	margin-top: 80px;
}


#center{
	width: 100%;
	text-align: center;
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;}
#navcontainer{
	margin: 0 auto;
	width: 330px;
	background-color: transparent;
	border: thick;
	border-color: black;
	transition: background-color .5s ease, visibility .5s ease, display .5s ease;}
#navcontainer ul{
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	transition: background-color .7s ease, visibility .7s ease, display .7s ease;
	z-index: -1;}
.icon {
	transition: background-color .5s ease, visibility .5s ease, display .5s ease;
	padding-top: 10px !important;
	z-index: -1;
	line-height: 10px;
	background-color: rgba(248,244,244,0.8);
	transition: background-color 0.5s ease, color .9s ease, height .5s ease;
	//display: inline;
	width: 110px !important;
	float: left;
	color: black;
	font-family: 'Ubuntu', sans-serif;
	font-size:23px;
	//padding: 30px;
	border: 5px black !important;
	margin: 0px;
	text-align: center;
	visibility: visible;
	padding: 0px;}
.icon:hover{
	background-color:rgba(0,0,0,0.8);
	color: white;
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
	z-index: -1;}
.icon:hover img {-webkit-filter: invert(100%); margin-top: 10px;}
img {
	transition: margin-top 0.7s ease;
	position: relative;}


.play_border {
	margin-left: auto;
	margin-right: auto;
    margin:5px;
    border: 2px solid rgba(0,0,0,0.7);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 350px;
    height: 350px;
    -webkit-box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 20px 8px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}
.play_border:hover{
    border-color: transparent;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
}
.play_border:hover .play_button{
    border-left: 10px solid rgba(0,0,0,0.5);
}
.play_border:active,.play_border:focus{
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10.play_button:hoverpx 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
}





